.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.container {
  grid-template-columns: [col0] 1fr [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5];
  grid-template-rows: [row0] 1fr [row1] 1fr [row2] 1fr [row3];
}

.item-webcam {
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row0;
  grid-row-end: row2;
}

.item-squattips {
  grid-column-start: col2;
  grid-column-end: col4;
  grid-row-start: row2;
  grid-row-end: row3;
}